@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

:root {
    --indent: 18px;
    --indent-base-offset: 6px;
    --data-depth: 1; /** will be overwritten by style attr*/
    --code-text-border-radius: 10px;
    --code-bg-color: #f9f2f4;
}

body, html {
    font-size: 16px;
    font-weight: 400;
}

.cm-editor .cm-content {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.5em;
}

/* disable editor outline */
.ͼ1.cm-editor.cm-focused {
    outline: none;
}

.ͼ4 .cm-line {
    padding: 4px 2px 4px 2px;
}

[wp-list-mark] > span {
    color: rgba(0, 0, 0, 0) !important;
}

[wp-list-mark] {
    margin-left: -16px;
    position: relative;
}

[wp-list-mark]:before {
    content: attr(wp-list-mark);
    position: relative;
    left: 10px;
}

@tailwind base;

@layer base {
    h1 {
        @apply text-2xl;
    }
}

/* @tailwind components; */
@tailwind utilities;


/* holds the name of a page that can be navigated to */
[x-data-target], a[href] {
    cursor: pointer;
    color: royalblue;
}

[x-data-target]:hover, a[href]:hover {
    text-decoration: underline;
}

.cm-line.wp-list-indented {
    margin-left: calc(var(--indent) * var(--data-depth)) !important;

}

.wp-list-line {
    position: relative;
}

.tick {
    cursor: none;
    display: inline-block;
}

.tick:before {
    position: absolute;
    content: '';
    width: 1px;
    right: calc(100% - var(--indent) / 2 + var(--indent) * var(--data-depth)) !important;
    top: 0;
    bottom: 0;
    border-left: 1px solid lightblue !important;
}


.tick.wp-skip-first:first-child:before {
    display: none;
    top: 28px;
}


.wp-list-item {
    border-left: 1px solid royalblue !important;
}


.wr-strong {
    font-weight: bold;
}

.wp-code-text {
    background-color: var(--code-bg-color);
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding-left: 4px;
}

.wp-code-text.wp-fist-child {
    padding-top: 4px;
    border-top: 1px solid #ccc;
    border-top-left-radius: var(--code-text-border-radius);
    border-top-right-radius: var(--code-text-border-radius);
}

.wp-code-text.wp-last-child {
    padding-bottom: 4px;
    border-bottom: 1px solid #ccc;
    border-bottom-left-radius: var(--code-text-border-radius);
    border-bottom-right-radius: var(--code-text-border-radius);
}

.wp-inline-code {
    padding: 2px 4px;
    color: #c7254e;
    border-radius: 4px;
    background-color: var(--code-bg-color);
}

.wp-heading {
    line-height: initial;
}

.wp-heading-ATXHeading1, .wp-heading-SetextHeading1 {
    font-size: 3em;
}

.wp-heading-ATXHeading2, .wp-heading-SetextHeading2 {
    font-size: 2.5em;
}

.wp-heading-ATXHeading3 {
    font-size: 2.1em;
}

.wp-heading-ATXHeading4 {
    font-size: 1.9em;
}

.wp-heading-ATXHeading5 {
    font-size: 1.7em;
}

.wp-heading-ATXHeading6 {
    font-size: 1.5em;
}

table, th, td {
    border: 1px solid;
}