@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

body, html {
    font-size: 16px;
    font-weight: 400;
}

.cm-editor .cm-content {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.5em;
}

/* disable editor outline */
.ͼ1.cm-editor.cm-focused {
    outline: none;
}

.ͼ4 .cm-line {
    padding: 4px 2px 4px 2px !important;
}

.wr-list-mark-decoration::after {
    content: '•';
}

@tailwind base;

@layer base {
    h1 {
        @apply text-2xl;
    }
}

/* @tailwind components; */
@tailwind utilities;


/* holds the name of a page that can be navigated to */
[x-data-target], a[href] {
    cursor: pointer;
}

[x-data-target]:hover, a[href] {
    text-decoration: underline;
}

:root {
    --indent: 20px;
    --data-depth: 1; /** will be overwritten by style attr*/
}


.ͼ1 .cm-line[x-data-depth] {
    margin-left: calc(var(--indent) * var(--data-depth)) !important;

}

.wp-list-line {
    position: relative;
}

.tick {
    cursor: none;
    display: inline-block;
}

.tick:before {
    position: absolute;
    content: '';
    width: 1px;
    right: calc(100% - var(--indent) / 2 + var(--indent) * var(--data-depth)) !important;
    top: 0;
    bottom: 0;
    border-left: 1px solid lightblue !important;
}

.tick:first-child:before {
    display: none;
    top: 28px;
}


.wp-list-item {
    border-left: 1px solid royalblue !important;
}

.cm-line[x-data-depth]:before {
    content: '•';
    margin-left: -14px;
}